*{
    margin: 0;
    padding: 0;
   }
/*Variable css*/
:root{
--alignBlock:flex;
}
/*apply style to the nav bar pour créer des espace entre le page de navigation et le logo */
nav{
display: var(--alignBlock);
justify-content:space-around;
font-weight: bold;
font-size:15px;
color:black;
padding:20px;
}
#menuDenavigation{
display:var(--alignBlock);
gap:50px;
}
nav li{
list-style-type: none;
}
/*Fixer le header*/
header{
    background-color: rgb(191, 191, 191);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}
/*retirer le ligne qui s'afficher sur le lien de navigation*/
 a{
text-decoration:none;
}
/*appliquer a la class box, un background-color ,des bordur et aligner sont text */
.box{
background-color: rgb(135, 135, 138);
border:2px solid black;
text-align:center;
}
main{
margin-top:60px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
flex-wrap:wrap;
gap:20px;
background-image:url(sun-clouds.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
}
/*appliquer du css grids sur l'id newsMeteo*/
#newsMeteo{
    display:grid;
    grid-template-columns:250px 250px ; 
    grid-template-rows:200px 200px;
    gap:10px;   
    }
section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.sectionParametreclimatique{
} 
.boxsetting{
background-color:rgb(138, 138, 242);
border:1px solid rgb(174, 169, 169);
}
#parametres{
 display:grid;
 grid-template-columns:230px 230px 230px 230px;
 grid-template-rows: 230px 230px 230px 230px;
 gap:12px;
} 
i{
font-size:70px;
display:flex;
justify-content:center;
align-items:center;
color:white;
}  
